.character-details {
    text-align: center;
    padding: 20px;
  }
  
  .character-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .alive {
    color: green;
  }
  
  .dead {
    color: red;
  }
  
  .character-status {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .character-species {
    margin-bottom: 10px;
  }
  
  .character-gender {
    margin-bottom: 10px;
  }
  
  .character-origin {
    margin-bottom: 20px;
  }
  
  .character-image {
    max-width: 300px;
    margin-top: 20px;
  }
  .share-icon {
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
    margin-top: 10px;
  }